$themeColor = #31C27C //#63b931 #14C7AA  linear-gradient(80deg, #3FAAB2, #2CC0B3)
$bgcolor = linear-gradient(30deg, #1fda9a, #31C27C) //#00a03e
$cartColor = linear-gradient(150deg, #31C27C, #1fda9a)
.dialogCont
      text-align center
      p:nth-child(1)
        font-size 16px
        margin-top .3rem
      p:nth-child(2)
        margin-top .4rem
        margin-bottom .2rem